**/.DS_Store
node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
coverage
.nyc_output
.env
package-lock.json
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
lib
**/.env
test.out.log
*.tsbuildinfo
